<section class="about d-midWrap">
	<div class="about-description">
		<h4 class="about-description-title">Discover Angel's Touch Cakery</h4>
		<p class="about-description-text">Welcome to Angel's Touch Cakery, where we blend the warmth of home baking with the artistry of gourmet creations. Our passion for baking shines through every treat we make, from our classic cakes and delightful cupcakes to the popsicles and edible flowers. We believe in using only the finest ingredients to craft baked goods that not only taste amazing but also bring joy to every occasion. Whether you're celebrating a birthday, wedding, or any special moment, we are here to make it extra sweet and memorable. Join us in our kitchen, where every order is a labor of love, and let us share our love for baking with you.</p>
	</div>
	<div class="about-mission">
		<h4 class="about-mission-title">The Mission: Creating Delightful Experiences</h4>
		<p class="about-mission-text">At Angel's Touch Cakery, our mission is to bring joy and warmth to every celebration through our handcrafted baked goods. We are committed to using high-quality, natural ingredients to create delicious and beautifully designed treats that exceed our customers' expectations. Our passion for baking drives us to continuously innovate and perfect our recipes, ensuring every bite is a delightful experience. We strive to provide exceptional customer service, fostering a sense of community and connection with every order. Our goal is to make every occasion special and memorable, one sweet treat at a time.</p>
	</div>
	<div class="about-gallery2">
		<div class="about-gallery2-text"><h5 class="about-gallery2-text-title">A party without cake is just a meeting!</h5></div>
		<img src="/assets/images/gallery.png" class="about-gallery-img2" />
	</div>
	<div class="about-gallery">
		<span class="about-gallery-placeholder"></span>
		<span class="about-gallery-placeholder"></span>
		<!--
		<img src="/assets/images/gallery/gallery-1.png" class="about-gallery-img" />
		<img src="/assets/images/gallery/gallery-2.png" class="about-gallery-img" />
		-->
	</div>
</section>