<section class="contact d-midWrap">
	<form class="contact-form">
		<div class="contact-form-box">
			<input type="text" class="contact-form-input" placeholder="Your Name *" required />
			<input type="text" class="contact-form-input" placeholder="Your Email *" required />
		</div>
		<div class="contact-form-box">
			<textarea class="contact-form-textarea" placeholder="Your Message *" required></textarea>
		</div>
		<input type="submit" class="contact-submit" value="Send Message" />
	</form>
	
	<div class="contact-details">
		<div class="contact-details_dock">
			<div class="contact-details-box">
				<span class="contact-details-icon u-icon is-location"></span>
				<br />
				<a href="http://maps.google.com/?q=Northmead,Benoni" class="contact-details-span">Normead, Benoni</a>
			</div>
			<div class="contact-details-box">
				<span class="contact-details-icon u-icon is-whatsapp"></span>
				<br />
				<a href="whatsapp://send?abid={{ site.metadata.whatsapp }}&text=Hello%2C%20World!" class="contact-details-span">{{ site.metadata.whatsapp | replace: "+27", "(+27) " }}</a>
			</div>
		</div>
		
		<div class="contact-details_dock">
			<div class="contact-details-box">
				<span class="contact-details-icon u-icon is-facebook"></span>
				<br />
				<a href="https://web.facebook.com/angelstouchcakery/" class="contact-details-span">Angel's Touch Cakery</a>
			</div>
		</div>
	</div>
	<div class="contact-details">
	</div>
</section>