<nav class="header d-midWrap">
	<label class="header-button"></label>
	<figure class="header-logo"><img src="/assets/images/logo-icon.png" class="header-logo-img"  /><figcaption class="header-logo-name"><h1 class="header-logo-name-main">Angel's Touch<h1><span class="header-logo-name-sub"> Cakery</span></figcaption></figure>
	<div class="header-content">
		<div class="header-content-link"><span class="header-content-link-icon"></span><a href="https://wa.me/{{ site.metadata.whatsapp }}?text='Hello, Angela!'">{{ site.metadata.whatsapp | replace: '+27', '(+27)' }}</a></div>
	</div>
</nav>