<section class="order d-midWrap">
	<fieldset class="order-fieldset"><div class="order-fieldset-dock">{% for file in site.data.order %}{% for data in file %}
		<div class="order-box">
			<label class="order-box-label">{{ data[0] }}:</label>
			<br />
			<select class="order-box-select">{% for content in data[1] %}{% for dropdown in content %}
				<option>{{ dropdown }}</option>{% endfor %}{% endfor %}
			</select>
		</div>{% endfor %}{% endfor %}
		<div class="order-box is-input">
			<label class="order-box-label">Full Name *:</label>
			<br />
			<input type="text" class="order-box-input" autocomplete="off" required />
		</div>
		<div class="order-box is-input">
			<label class="order-box-label">Email *:</label>
			<br />
			<input type="email" class="order-box-input" required />
		</div>
	</div></fieldset>
	
	<div class="order-box is-submit">
		<input type="submit" class="order-box-submit" value="Send  Your  Custom  Order" />
	</div>
</section>