---
---
/*** CANCEL ***/
input[type="file"]::file-selector-button {
//	color: purple;
//	font-weight: bold;
}
/*** END CANCEL ***/

/*** Z-INDEXES ***/
.banner { position: relative; z-index: 10; }
.header { position: relative; z-index: 20; }

.about-mission:before { position: relative; z-index: 10; }
.about-description,
.about-gallery { position: relative; z-index: 20; }

.products-sublist-item.is-cupcake .product-img2 { position: relative; z-index: 30; }
.products-sublist-item.is-cupcake .product-img1 { position: relative; z-index: 40; }
/*** END Z-INDEXES ***/

/*** COLORS ***/{% assign vBrandPurple = "#BA1ED1" %}
body, html { background-color: #eee; }

.about-mission,
.about-mission:before,
.header-content,
.products-sublist-item.is-cake:nth-child(odd) .product-img { background-color: {{ vBrandPurple }}; }
.contact-submit,
.orderCustom-box-submit,
.orderSimple-box-submit { background-color: {{ vBrandPurple }} !important; }
.about-gallery2-text-title,
.banner-text-title,
.header-logo-name-main,
.m-header-title-main { color: {{ vBrandPurple }}; }
.product { border-color: {{ vBrandPurple }}; }
	.product-details { background-color: rgba(190, 30, 209, .7); }

.product-details-cta-button { background-color: black; }
 { background-color: black !important; }

.orderCustom-box-select,
.products-sublist-item.is-cupcake .product-img1,
.products-sublist-item.is-cupcake .product-img2 { background-color: #AAA; }
.header-logo-name-sub {// color: #AAA; }

.products-sublist_wrap:nth-child(1) .products-sublist-item:nth-child(odd) .product,
.products-sublist_wrap:nth-child(3) .products-sublist-item:nth-child(even) .product,
.products-sublist_wrap:nth-child(5) .products-sublist-item:nth-child(odd) .product,
.products-sublist_wrap:nth-child(7) .products-sublist-item:nth-child(even) .product { border-color: #AAA !important; }
.products-sublist-item.is-cake:nth-child(odd) .product {// border-color: #AAA !important; }

.about-gallery2-text,
.banner-text,
.header { background-color: rgba(255, 255, 255, .7); }

.about-description { background-color: white; }
.about-mission-text,
.about-mission-title,
.orderCustom-box-submit,
.orderSimple-box-submit,
.product-details-cta-button { color: white; }
.product .m-header-title-main { color: white !important; }
/*** END COLORS ***/

/*** FONTS ***/
@font-face{
	font-family: "Big Tickle"; src:url("../../assets/fonts/Big Tickle Shadow Medium.otf");
	/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/
}
@font-face{
	font-family: "Big Tickle Inside"; src:url("../../assets/fonts/Big Tickle Black.otf");
	/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/
}
@font-face{
	font-family: "Batistta"; src:url("../../assets/fonts/BodoniUltraFLF.ttf");
	/*src:url("../../assets/fonts/ALPHABETH.eot") format("embedded-opentype"),url("../../assets/fonts/ALPHABETH.woff2") format("woff2"),url("../../assets/fonts/ALPHABETH.woff") format("woff"),url("../../assets/fonts/ALPHABETH.ttf") format("trutype"),url("../../assets/fonts/ALPHABETH.svg") format("svg");*/
}

.about-gallery2-text-title,
.banner-text-title,
.header-logo-name-main,	
.m-header-title-main { font-family: "Big Tickle Inside", serif; }
body { font-family: "Batistta", sans-serif; }

.contact-details-span,
.header-logo-name-main,
.header-logo-name-sub,
.m-header-title-main { font-size: 1.9em; }
.about-description-title,
.about-mission-title,
.product .m-header-title-main { font-size: 1.25em; }
.product-details-cta-span,
.m-header-title-sub { font-size: .9em; }

.about-description-text,
.about-mission-text { line-height: 1.25em; }

.about-description,
.about-gallery2-text-title,
.about-mission,
.banner-text-title,
.contact-details-box,
.footer,
.orderCustom-box,
.orderCustom-box-label,
.orderCustom-box-select,
.product-details-cta,
.m-header { text-align: center; }
.product-details-p { text-align: justify; }

.product-details-cta-button:hover,
.product-details-cta-button:active,
.product-details-cta-button:focus { text-decoration: underline; }
.product-details-cta-button { text-transform: uppercase; }

.header-logo-name-main,
.product .m-header-title-main { white-space: nowrap; }


.header-logo-name-main {// background: linear-gradient(to top, white, white, {{ vBrandPurple }}, {{ vBrandPurple }}, {{ vBrandPurple }}); }
.m-header-title-main {// background: linear-gradient(to top, black, black, {{ vBrandPurple }}, {{ vBrandPurple }}, {{ vBrandPurple }}); }

.about-gallery2-text-title,
.banner-text-title,
.header-logo-name-main,
.m-header-title-main { background: linear-gradient(to top, white, white, {{ vBrandPurple }}, {{ vBrandPurple }}, {{ vBrandPurple }}); }
.product .m-header-title-main { background: linear-gradient(to top, black, black, white, white, white); }
.about-gallery2-text-title,
.banner-text-title,
.header-logo-name-main,
.m-header-title-main,
.product .m-header-title-main  {
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
.about-gallery2-text-title,
.banner-text-title,
.header-logo-name-main,
.m-header-title-main {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: {{ vBrandPurple }};
}
	.product .m-header-title-main {
		-webkit-text-stroke-width: initial !important;
		-webkit-text-stroke-color: initial !important;
	}
/*** END FONTS ***/

/*** MEDIA ***/
.about-gallery-placeholder:nth-child(1) { background-image: url("/assets/images/gallery/gallery-1.png"); }
.about-gallery-placeholder:nth-child(2) { background-image: url("/assets/images/gallery/gallery-2.png"); }
.about-gallery-placeholder {
	background-position: center;
}

.banner-image { background-image: url("/assets/images/banner.png"); }
.banner-image {
	background-position: bottom;
	background-size: cover;
}

.header-button { background-image: url("/assets/images/icon_menu_black.png"); }
.header-button {
	background-size: cover;
}

.header-content-link-icon { background-image: url("/assets/images/icon_whatsapp_green.png"); }
.header-content-link-icon {
	background-size: cover;
}

.products-sublist-item.is-cake .product-img {
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80%;
}

.u-icon.is-facebook { background-image: url("/assets/images/icon_facebook_black.png"); }
.u-icon.is-location { background-image: url("/assets/images/icon_location_black.png"); }
.u-icon.is-whatsapp { background-image: url("/assets/images/icon_whatsapp_black.png"); }
.u-icon { background-size: cover !important; }
/*** END MEDIA ***/

/*** MIXINS ***/
	/*** .m-header ***/
	.m-header {
		margin: 1.9em auto;
	}
	.product .m-header { margin: initial; }
	.m-header-text {
		width: 50%;
		margin: 0 auto;
		margin-top: 1em;
	}
	.m-header-title {
		position: relative;
		display: inline-block;
		
	//	border: 1px solid purple;
	}
	.m-header-title-sub {
		position: absolute; top: -.7em; right: -.7em;
		transform: rotate(10deg);
	}
		.product .m-header-title-sub {
			right: initial !important; left: -.7em;
			transform: rotate(-10deg);
		}
/*** END MIXINS ***/

/*** COMPONENTS ***/
	/*** COMMONS ***/
	.orderCustom-box-input,
	.orderCustom-box-select,
	.orderSimple-box-file,
	.orderSimple-box-input,
	.orderSimple-box-select,
	.orderSimple-box-textarea {
		padding: .5em 1em;
		margin: .5em;
	}

	/*** .about ***/
	.about-gallery { display: flex !important; }
	.about-gallery-img,
	.about-gallery-placeholder { flex: 1; }
	
	.about-description,
	.about-gallery,
	.about-gallery2,
	.about-mission {
		min-height: 7em;
		display: block;
		margin: 0 auto;
	}
	.about-description,
	.about-gallery,
	.about-gallery2 {
		width: 70%;
	}
	.about-gallery-img { width: 50%; }
	.about-mission { width: 95%; }
	.about-gallery2 {
		position: relative;
	}
	.about-gallery2-text {
		position: absolute; top: 1em; left: 0; right: 0;
		width: 70%;
		padding: 1em;
		margin: 0 auto;
	}
	
	.about-description,
	.about-description-text,
	.about-description-title,
	.about-mission,
	.about-mission-text,
	.about-mission-title {
		padding: 1em;
	}
	.about-mission {
		position: relative;
	}
	.about-mission:before {
		content: ""; position: absolute; bottom: 100%; left: 0;
		width: 100%; height: 4em;
		display: block;
	}
	
	/*** .banner ***/
	.banner {
		position: relative;
	}
	.banner-image {
		display: block;
		width: 100%; min-height: 75vh;
	}
	.banner-text {
		position: absolute; bottom: 1em; left: 0; right: 0;
		width: 70%;
		padding: 1em;
		margin: 0 auto;
	}
	.banner-veil {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
		display: block;
		background-color: rgba(0, 0, 0, .3);
		
//		display: none;
	}
	
	/*** .contact ***/
	.contact-form-box { display: flex; }
	.contact-form-input { flex: 1; }
	
	.contact-details {
		margin-top: 3em;
	}
	.contact-details-box {
		padding: 1em;
	}
	.contact-details-icon {
		display: inline-block;
		width: 1.9em; height: 1.9em;
	}
	
	.contact-form-box {
		width: 100%;
	}
	.contact-form-input,
	.contact-form-textarea {
		width: 100%;
		display: block;
		padding: 1em 1.9em;
		margin: 1em;
	}
	.contact-submit {
		width: 50%;
		display: block;
		padding: 1em 1.9em;
		margin: 0 auto;
	}
	.contact-form-textarea {
		min-height: 10em;
	}
	
	/*** .footer ***/
	.footer {
		padding: 1.9em 1em;
	}
	
	/*** .header ***/
	.header,
	.header-nav,
	.header-content,
	.header-content-link,
	.header-logo,
	.header-logo-name { display: flex; }
	.header,
	.header-nav,
	.header-content-link { align-items: center; }
	.header-content { justify-content: flex-end; }
	.header-content { flex: 1; }
	
	.header {
		width: 100%;
	}
	.header-button {
		display: block;
		width: 1.9em; height: 1.9em;
	}
	.header-logo {
		padding: 0 1em;
	}
	.header-logo-img {
		width: auto; height: 1.9em;
	}
	.header-logo-name-main,
	.header-logo-name-sub {
		margin: 0 .19em;
	}
	.header-content {
		padding: 1em;
	}
	.header-content-link-icon {
		display: block;
		width: 1.9em; height: 1.9em;
		margin-right: .5em;
	}

	/*** .orderCustom ***/
	.orderCustom-fieldset,
	.orderCustom-fieldset-dock {
		overflow: auto;
	}
	.orderCustom-box {
		width: 25%;
//		padding: 0 1em;
		margin: 1.9em auto;
		float: left;
	}
		.orderCustom-box.is-submit,
		.orderSimple-box.is-submit { width: 100%; }
	.orderCustom-box-label,
	.orderCustom-box-select {
//		padding: .5em 1em;
	}
	.orderCustom-box-label {
		padding: 1em;
	}
	.orderCustom-box-input,
	.orderCustom-box-select {
		min-width: 70%; width: 70%; max-width: 70%;
	}
	.orderCustom-box-submit,
	.orderSimple-box-submit {
		min-width: 50%; width: 50%; max-width: 50%;
		padding: 1em;
		text-transform: uppercase;
	}
	
	/*** .orderSimple ***/
	
	/*** .products ***/
	.products-sublist-item.is-cupcake { display: flex; }
	.products-sublist-item:nth-child(4),
	.products-sublist-item:nth-child(9),
	.products-sublist-item:nth-child(14) { justify-content: flex-end; }
	
	.products-sublist-item {
		float: left;
	}
	.products-sublist-item.is-cake { width: 33.333%; }
	.products-sublist-item.is-cupcake { width: 50%; }
	
	.product {
		position: relative;
	}
	.products-sublist-item.is-cake .product {
		padding: 1em;
		border-width: .5em; border-style: solid;
	}
		.products-sublist-item.is-cake:nth-child(odd) .product {// padding: 1em; }
		.products-sublist-item.is-cake:nth-child(odd) .product-img { padding: 1em; }
	.products-sublist-item.is-cupcake {
		position: relative;
	}
	.products-sublist-item.is-cupcake .product {
		margin: 1em .5em;
	}
	.products-sublist-item.is-cupcake .product-img1,
	.products-sublist-item.is-cupcake .product-img2 {
		position: absolute; top: 0; left: 0;
		padding: 1em;
	}
	.products-sublist-item.is-cupcake .product-placeholder {
//		position: relative;
	}
	.product-details {
		position: absolute; top: 0; left: 0;
		width: 100%; height: 100%;
	}
	.product-details-cta-button {
		padding: .5em 1em;
	}
	.product-details-cta-span {
		display: block;
	}
	.product-details-p {
		margin: 1em 0 1.9em 0;
	}
/*** END COMPONENTS ***/

/*** INTERRACTIVITY ***/
.about-gallery-placeholder,
.products-sublist-item.is-cupcake .product { cursor: pointer; }

.orderCustom { display: none; }
#chkbx4orderCustom:checked ~ main .orderCustom { display: block; }

.product-details { display: none !important; }
	.product:hover .product-details,
	.product:hover .product-details,
	.product:hover .product-details { display: flex !important; }

.products-sublist-item.is-cupcake .product-img1 { visibility: hidden; }
.products-sublist-item.is-cupcake .product:hover .product-img1,
.products-sublist-item.is-cupcake .product:active .product-img1
.products-sublist-item.is-cupcake .product:focus .product-img1 { visibility: visible !important; }
/*** END INTERRACTIVITY ***/

/*** MEDIA-QUERIES ***/
@media screen and (max-width:50em) {
	* { font-size: 16px; }
	.about-gallery2-text-title,
	.banner-text-title { font-size: 1.9em; }
	
	/*** .about ***/
	.about-description-text,
	.about-mission-text {
		max-height: 50vh;
		overflow: auto;
	}
	
	/*** .contact ***/
	.contact-form-box { flex-direction: column; }
	
	/*** .header ***/
	.header { flex-direction: column !important; }
	
	.header-nav {
		margin-bottom: 1em;
	}
	
	/*** .orderCustom ***/
	.orderCustom-fieldset-dock { width: 300%; }
	
	/*** .orderSimple ***/
	.orderSimple-fieldset {
		width: 100%;
		text-align: center;
	}
	.orderSimple-box-input,
	.orderSimple-box-select,
	.orderSimple-box-textarea {
		width: 70%;
	}
	
	/*** .products ***/
	.products-sublist.is-cake { width: 250%; }
	.products-sublist_wrap { overflow: auto; }
	
	.products-sublist-item.is-cake { padding: 1em; }
	
	.products-sublist-item.is-cupcake .product {
		width: 100%;
	}
	
	/*** CSS-HACKS ***/
	.contact-form-box { overflow: hidden; }
}
@media screen and (min-width:50em) {
	* { font-size: 18px; }
	.about-gallery2-text-title,
	.banner-text-title { font-size: 2.7em; }
	
	/*** MIXINS ***/
	
	/*** .contact ***/
	.contact-details_dock { display: flex; }
	.contact-details-box { flex: 1; }
	
	/*** .header ***/
	.header { position: absolute; top: 0; left: 0; }
	
	/*** .products ***/
	.products-sublist-item.is-cake { padding: 1.9em; }

	.products-sublist_wrap.is-cake,
	.products-sublist.is-cake {
		overflow: auto;
	}
	.products-sublist.is-cupcake {
//		border: 1px solid purple;
	}
	.products-sublist-item.is-cupcake .product {
		position: absolute;
		width: 30%;
	}
		.products-sublist.is-cupcake .product { bottom: -7em; }
		.products-sublist.is-cupcake .products-sublist-item:nth-child(odd) .product { left: 50%; }
		.products-sublist.is-cupcake .products-sublist-item:nth-child(even) .product { left: 17%; }
		/*
		.products-sublist-item:nth-child(4) .product,
		.products-sublist-item:nth-child(9) .product,
		.products-sublist-item:nth-child(14) .product { top: -7em; right: 7em; }
		.products-sublist-item:nth-child(5) .product,
		.products-sublist-item:nth-child(10) .product,
		.products-sublist-item:nth-child(15) .product { top: -7em; left: 7em; }
		*/
	
	/*** .orderSimple ***/
	.orderSimple-box.is-textarea,
	.orderSimple-fieldset_wrap,
	.orderSimple-fieldset:nth-child(2) { display: flex; }
	.orderSimple-box.is-textarea,
	.orderSimple-fieldset:nth-child(2) { flex-direction: column; }
	.orderSimple-box.is-textarea,
	.orderSimple-box-textarea,
	.orderSimple-fieldset { flex: 1; }
	
	.orderSimple-fieldset_wrap {
		width: 100%;
	}
}
/*** END MEDIA-QUERIES ***/

/*** DECORATION ***/
.d-cssCentered {
	display: flex;
	align-items: center;
	justify-content: center;
}
	.product-details.d-cssCentered { flex-direction: column; }

.d-midWrap {
	padding: 1em;
	max-width: 75em;
	margin: 0 auto;
}
/*** END DECORATION ***/

/*** ANIMATION ***/
.about-gallery-placeholder { animation: slideImage 7s alternate infinite; }
.about-gallery-placeholder:hover { animation-play-state: paused; }

@keyframes slideImage {
	from { background-position: top; }
	to { background-position: bottom; }
}
/*** END ANIMATION ***/

/*** CSS-HACKS ***/
.products-sublist-item.is-cupcake {
	border: 1px solid transparent;
}
	.products-sublist_wrap {
		border: 1px solid transparent;
	}
/*** END CSS-HACKS ***/

/*** TO DELETE ***/
.about-gallery { display: none !important; }
.banner-img,
.banner-veil { display: none !important; }
/*** END TO DELETE ***/

/*** THIS IS FOR ALL OF YOU! ***/